# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 数据库（本地数据，不提交）
data.db

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 文档
*.md

# 日志
*.log

# Flutter
PapaCheck.Browser/.dart_tool/
PapaCheck.Browser/.flutter-plugins
PapaCheck.Browser/.flutter-plugins-dependencies
PapaCheck.Browser/build/
PapaCheck.Browser/.idea/